@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Freehand&display=swap");

@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --font-sans: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-mono: "Geist Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  --font-cursive: "Freehand", cursive;
  --radius: 0.625rem;

  /* from figma */
  --text-primary: #fafafa;
  --text-secondary: #737373;
  --text-error: #f87171;
  --text-accent: #4f263d;
  --text-neutral: #f5f5f5;
  --text-tertiary-button: #fafafa; /* only used for tertiary button */

  --border-subtle: #e4e4e740;
  --border-active: #f5f5f5;
  --border-tertiary: #fafafa;
  --border-danger: #f87171;
  --border-accent: #4f263d;

  --line-accent: #a65c97;

  --background-main: #111118;
  --background-pane-container: #0f0f15;
  --background-translucent-card: linear-gradient(
    180deg,
    rgba(41, 41, 41, 0.24) 40.42%,
    rgba(41, 41, 41, 0.12) 100%
  );
  --background-selected-accent: #4f263d;
  --background-text-field: linear-gradient(
    180deg,
    rgba(41, 41, 41, 0.24) 40.42%,
    rgba(41, 41, 41, 0.12) 100%
  );
  --background-dropdown: #171717;
  --background-dropdown-selected: #262626;

  --progress-bar-complete: linear-gradient(90deg, #49244f 0%, #643b5e 100%);
  --progress-bar-incomplete: #e4e4e740;

  --tag-active: #fafafa;
  --tag-success: #4ade80;
  --tag-disabled: #a3a3a3;

  --background-button-primary: #4f263d;
  --background-button-secondary: #262626;
  --background-button-tertiary: #fafafa;
  --background-button-disabled: #404040;
  --background-button-control: #fafafa;
}

/* custom colours */
@theme inline {
  --color-\*: initial; /* disables all preset colours */

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-error: var(--text-error);
  --color-text-accent: var(--text-accent);
  --color-text-neutral: var(--text-neutral);

  --color-border-subtle: var(--border-subtle);
  --color-border-active: var(--border-active);
  --color-border-danger: var(--border-danger);
  --color-border-accent: var(--border-accent);

  --color-line-accent: var(--line-accent);

  --color-bg-main: var(--background-main);
  --color-bg-pane-container: var(--background-pane-container);
  --color-bg-translucent-card: var(--background-translucent-card); /* not used, since tailwind doesn't support gradients -> use css variable instead */
  --color-bg-selected-accent: var(--background-selected-accent);
  --color-bg-text-field: var(--background-text-field);
  --color-bg-dropdown: var(--background-dropdown);
  --color-bg-dropdown-selected: var(--background-dropdown-selected);

  --color-tag-active: var(--tag-active);
  --color-tag-success: var(--tag-success);
  --color-tag-disabled: var(--tag-disabled);

  --color-bg-progress-bar-complete: var(--progress-bar-complete); /* not used, since tailwind doesn't support gradients -> use css variable instead */
  --color-bg-progress-bar-incomplete: var(--progress-bar-incomplete);

  --color-bg-button-primary: var(--background-button-primary);
  --color-bg-button-secondary: var(--background-button-secondary);
  --color-bg-button-tertiary: var(--background-button-tertiary);
  --color-bg-button-disabled: var(--background-button-disabled);
  --color-bg-button-control: var(--background-button-control);
  --color-button-tertiary: var(--text-tertiary-button); /* one-off, used for border and text colours */

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-cursive: var(--font-cursive);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  html,
  body {
    @apply overscroll-none;
  }

  body {
    @apply bg-bg-main text-text-primary;
  }
}

@media (max-width: 375px) {
  .select-portal .portals {
    gap: 2.5rem;
  }

  .select-portal .logo-wrap {
    margin-bottom: 0.1rem;
  }
}

*::selection {
  background: #ffffff20;
}
*::-moz-selection {
  background: #ffffff20;
}
*::-webkit-selection {
  background: #ffffff20;
}

/* Hide scrollbars but keep scrolling */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

code {
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.2rem;
  border-radius: 0.2rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--color-bg-text-field) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: var(--text-primary);
}
